<div class="container">
  <div class="row">
    <div class="mt-5 ml-5">
      <span class="bg-light h3">レシピの編集</span>
    </div>
  </div>
</div>
<div>
  <%= form_with model: @post_recipe, url:post_recipe_path(@post_recipe.id), method: :patch do |f| %>
    <p>タイトル</p>
    <%= f.text_area :title, autofocus: true %>
    <p>紹介文</p>
    <%= f.text_area :introduction %>
    <p>材料・分量</p>
    <%= f.text_area :material_quantity %>
    <p>作り方</p>
    <%= f.text_area :recipe %>
    <p>わんこメシの画像</p>
    <%= f.file_field :image, accept: "image/*" %>
    <p>タグ【複数選択可】</p>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <%= tag.label do %>
        <%= tag.check_box %>
        <%= tag.text %>
      <% end %>
    <% end %>
    <%= f.submit "レシピを保存する", class: 'btn btn-success' %>
  <% end %>
</div>
