<div class="bg-success text-white">
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row mt-4 mb-3">
    <div class="col-9">
      <span class="bg-warning h3">みんなのレシピ</span>
    </div>
    <div class="col-3 text-align:right">
      <%= form_tag post_recipes_path, method: :get, class: 'boards_searchForm' do %>
        <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {prompt: 'タグで絞り込み検索', onchange: 'submit(this.form);'} %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table align-middle table-borderd table-hover">
        <tr class="bg-light">
          <th class="col-4">タイトル</th>
          <th class="col-3">会員名</th>
          <th class="col-2">愛犬の犬種</th>
          <th class="col-1">年齢</th>
          <th class="col-2">コメント・いいね</th>
        </tr>
        <% @post_recipes.each do |post_recipe| %>
          <tr class="align-middle">
            <td class="border-bottom">
              <%= link_to post_recipe_path(post_recipe.id), class:"text-dark" do %>
                <% if post_recipe.image.attached? %>
                  <%= image_tag post_recipe.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
                <%= post_recipe.title %>
              <% end %>
            </td>
            <td class="border-bottom valign:middle"><%= post_recipe.member.name %></td>
            <td class="border-bottom"><%= post_recipe.member.dog_breed %></td>
            <td class="border-bottom"><%= post_recipe.member.dog_age %>歳</td>
            <td class="border-bottom">
              <%= link_to "コメント：#{post_recipe.post_comments.count}件", post_recipe_path(post_recipe.id) %><br>
              <%= link_to "いいね：#{post_recipe.favorites.count}件", post_recipe_path(post_recipe.id) %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="pagination">
        <%= paginate @post_recipes %>
      </div>
    </div>
  </div>
</div>