<div class="container">
  <div class="row mt-4 mb-3">
    <div class="col-9">
      <span class="bg-warning h3">レシピの新規投稿</span>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= form_with model: @post_recipe do |f| %>
      <table class="ml-5">
        <tr height="100">
          <th style="width: 20%">タイトル</th>
          <td style="width: 80%"><%= f.text_area :title, :size => "50x2", autofocus: true, placeholder: "（例）鳥ささみとたっぷり野菜のクリーム煮" %></td>
        </tr>
        <tr height="100">
          <th>紹介文</th>
          <td><%= f.text_area :introduction, :size => "50x5", placeholder: "（例）数種類の野菜をヤギミルクで煮込み、鳥ささみを茹でてトッピングしました。我が家の愛犬も食いつきがいいです！" %></td>
        </tr>
        <tr height="100">
          <th>材料・分量</th>
          <td><%= f.text_area :material_quantity, :size => "50x10", placeholder: "（例）鳥ささみ・・・500g、大根・・・1/3本、人参・・・１本、白菜・・・1/2個、ヤギミルク（粉末）・・・適量、水・・・200cc" %></td>
        </tr>
        <tr height="100">
          <th>作り方</th>
          <td><%= f.text_area :recipe, :size => "50x10", placeholder: "（例）①ささみと野菜をわんこが食べやすいサイズにカットし、水と一緒に鍋に入れて火にかける。②沸騰したら、水にヤギミルクの粉を適量混ぜる。③ささみと野菜に火が通って、冷めたら完成です。" %></td>
        </tr>
        <tr height="100">
          <th>わんこメシの画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr height="100">
          <th>タグ【複数選択可】</th>
          <td>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="mt-5 mb-5 text-right">
        <%= f.submit "レシピを公開する", class: 'btn btn-success' %></td>
      </div>
    <% end %>
  </div>
</div>