<div>
  <% if @post_recipe.image.attached? %>
    <%= image_tag @post_recipe.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
</div>
<p><%= @post_recipe.title %></p>
<p><%= @post_recipe.introduction %></p>
<div>
  <p>材料・分量</p>
  <p><%= @post_recipe.material_quantity %></p>
</div>
<div>
  <p>作り方</p>
  <p><%= @post_recipe.recipe %></p>
</div>
<p>投稿日：<%= @post_recipe.created_at.strftime('%Y/%m/%d') %></p>
<div>
  <% if @post_recipe.member == current_member %>
    <%= link_to "編集する", edit_post_recipe_path(@post_recipe.id), class: "btn btn-primary" %>
    <%= link_to "削除する", post_recipe_path(@post_recipe.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>