<div>
  <% if @post_recipe.image.attached? %>
    <%= image_tag @post_recipe.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
</div>
<p><%= @post_recipe.title %></p>
<p><%= @post_recipe.introduction %></p>
<div>
  <p>材料・分量</p>
  <p><%= @post_recipe.material_quantity %></p>
</div>
<div>
  <p>作り方</p>
  <p><%= @post_recipe.recipe %></p>
</div>
<p>投稿日：<%= @post_recipe.created_at.strftime('%Y/%m/%d') %></p>
<div>
  <%= link_to "/members/#{@post_recipe.member.id}", class:"text-dark" do %>
    投稿者：<%= @post_recipe.member.name %>
  <% end %>
</div>
<div>
  <% if @post_recipe.member == current_member %>
    <%= link_to "編集する", edit_post_recipe_path(@post_recipe.id), class: "btn btn-primary" %>
    <%= link_to "削除する", post_recipe_path(@post_recipe.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>
<div>
  <% if @post_recipe.favorited_by?(current_member) %>
    <p>
      <%= link_to post_recipe_favorites_path(@post_recipe), method: :delete do %>
        ♥<%= @post_recipe.favorites.count %>いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_recipe_favorites_path(@post_recipe), method: :post do %>
        ♡<%= @post_recipe.favorites.count %>いいね
      <% end %>
    </p>
  <% end %>
</div>
<div>
  <p>コメント件数：<%= @post_recipe.post_comments.count %></p>
  <% @post_recipe.post_comments.each do |post_comment| %>
    <%= link_to member_path(post_comment.member.id), class:"text-dark" do %>
      <% if post_comment.member.image.attached? %>
        <%= image_tag post_comment.member.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image_member', size: "100x100" %>
      <% end %>
      <%= post_comment.member.name %>
    <% end %>
    <%= post_comment.comment %>
    <p><%= time_ago_in_words(post_comment.created_at) %>前</p>
    <% if post_comment.member == current_member %>
      <%= link_to "削除", post_recipe_post_comment_path(post_comment.post_recipe, post_comment), method: :delete, class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post_recipe, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "レシピの感想はこちらに" %>
    <%= f.submit "送信する", class: "btn btn-success" %>
  <% end %>
</div>