<div class="container">
  <div class="row mt-4 mb-3">
    <div class="col-8">
      <span class="bg-warning h3">会員情報詳細</span>
    </div>
    <div class="col-4 text-right">
      <% if @member.is_deleted == true %>
        <%= link_to "利用再開", resume_admin_member_path(@member.id), method: :patch, class: "btn btn-success" %>
      <% else %>
        <%= link_to "退会させる", out_admin_member_path(@member.id), method: :patch, class: "btn btn-danger", "data-confirm" => "本当に退会させますか？" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <table class="table table-borderd">
        <tr class="bg-light">
          <th class="col-3">会員名</th>
          <th class="col-3">愛犬の名前</th>
          <th class="col-2">犬種</th>
          <th class="col-1">年齢</th>
          <th class="col-1">性別</th>
          <th class="col-2">フォロー・フォロワー</th>
        </tr>
        <tr>
          <td class="border-bottom align-middle">
            <% if @member.image.attached? %>
              <%= image_tag @member.image, size: "100x100" %><br>
            <% else %>
              <%= image_tag 'no_image_member', size: "100x100" %><br>
            <% end %>
            <%= @member.name %>
          </td>
          <td class="border-bottom align-middle"><%= @member.dog_name %></td>
          <td class="border-bottom align-middle"><%= @member.dog_breed %></td>
          <td class="border-bottom align-middle"><%= @member.dog_age %>歳</td>
          <td class="border-bottom align-middle"><%= @member.dog_gender %></td>
          <td class="border-bottom align-middle">
            フォロー：
            <!--<%= link_to followings_member_path(@member) do %>-->
              <%= @member.followings.count %><br>
            <!--<% end %>-->
            フォロワー：
            <!--<%= link_to followers_member_path(@member) do %>-->
              <%= @member.followers.count %>
            <!--<% end %>-->
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col">
      <span class="bg-warning h3 col-12"><%= @member.name %>さんが投稿したレシピ</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-borderd table-hover">
        <tr class="bg-light">
          <th class="col-4">タイトル</th>
          <th class="col-6">紹介文</th>
          <th class="col-2">コメント・いいね</th>
        </tr>
        <% @post_recipes.each do |post_recipe| %>
          <tr>
            <td class="border-bottom align-middle">
              <%= link_to admin_post_recipe_path(post_recipe.id), class:"text-dark" do %>
                <% if post_recipe.image.attached? %>
                  <%= image_tag post_recipe.image, size: "100x100" %><br>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %><br>
                <% end %>
                <%= post_recipe.title %>
              <% end %>
            </td>
            <td class="border-bottom align-middle"><%= post_recipe.introduction %></td>
            <td class="border-bottom align-middle">
              <%= link_to "コメント：#{post_recipe.post_comments.count}件", admin_post_recipe_path(post_recipe.id) %><br>
              <%= link_to "いいね：#{post_recipe.favorites.count}件", admin_post_recipe_path(post_recipe.id) %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="pagination">
        <%= paginate @post_recipes %>
      </div>
      <div class="h5 mb-5 text-right">
        <%= link_to "戻る＞", :back %>
      </div>
    </div>
  </div>
</div>