<div>
  <%= form_with model: [post_recipe, post_comment], local: false do |f| %>
    <%= f.text_area :comment, :size => "80x5", placeholder: "レシピの感想はこちらにどうぞ！" %><br>
    <div class="mt-5 mb-5 text-right">
      <%= f.submit "送信する", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
<table class="table table-border table-hover">
  <% post_recipe.post_comments.reverse.each do |post_comment| %>
    <tr>
      <td>
        <%= link_to member_path(post_comment.member.id), class:"text-dark" do %>
          <% if post_comment.member.image.attached? %>
            <%= image_tag post_comment.member.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image_member', size: "100x100" %>
          <% end %>
          <%= post_comment.member.name %>
        <% end %>
      </td>
      <td><%= post_comment.comment %></td>
      <td><%= time_ago_in_words(post_comment.created_at) %>前</td>
      <td>
        <% if post_comment.member == current_member %>
          <%= link_to "削除", post_recipe_post_comment_path(post_comment.post_recipe, post_comment), method: :delete, remote: true, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>