<div class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-borderd">
          <tr class="table-borderless">
            <th>
              <span class="bg-light h3 col-12">【管理者用】みんなのレシピ</span>
            </th>
          </tr>
          <tr class="bg-light">
            <th class="col-3">タイトル</th>
            <th class="col-2">会員名</th>
            <th class="col-3">愛犬の犬種</th>
            <th class="col-2">愛犬の年齢</th>
            <th class="col-2">コメント・いいね</th>
          </tr>
          <% @post_recipes.each do |post_recipe| %>
            <tr>
              <td class="border-bottom">
                <%= link_to admin_post_recipe_path(post_recipe.id), class:"text-dark" do %>
                  <% if post_recipe.image.attached? %>
                    <%= image_tag post_recipe.image, size: "100x100" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                  <% end %>
                  <%= post_recipe.title %>
                <% end %>
              </td>
              <td class="border-bottom"><%= post_recipe.member.name %></td>
              <td class="border-bottom"><%= post_recipe.member.dog_breed %></td>
              <td class="border-bottom"><%= post_recipe.member.dog_age %>歳</td>
              <td class="border-bottom">
                <%= link_to "コメント：#{post_recipe.post_comments.count}件", admin_post_recipe_path(post_recipe.id) %><br>
                <%= link_to "いいね：#{post_recipe.favorites.count}件", admin_post_recipe_path(post_recipe.id) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>