<div class="bg-success text-white">
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row mt-4 mb-3">
    <div class="col-7">
      <span class="text-success h3"><%= @post_recipe.title %></span>
    </div>
    <div class="col-5"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div>
        <% if @post_recipe.image.attached? %>
          <%= image_tag @post_recipe.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </div>
      <div class="mt-3 mb-3 h5 border-bottom">
        投稿日：<%= @post_recipe.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class="mt-3 mb-3 h5 border-bottom">
        <%= link_to "/admin/members/#{@post_recipe.member.id}", class:"text-dark" do %>
          投稿者：<%= @post_recipe.member.name %>
        <% end %>
      </div>
      <div class="mt-3 mb-3 h6 border-bottom">
        <h5>タグ：</h5>
        <% @post_recipe.tags.each do |tag| %>
          <%= tag.name %><br>
        <% end %>
      </div>
    </div>
    <div class="col-7 mt-5">
      <p><%= @post_recipe.introduction %></p>
      <div class="mt-5">
        <p class="h5">材料・分量</p>
        <p class="border border-dark rounded pt-1 pb-5"><%= @post_recipe.material_quantity %></p>
      </div>
      <div class="mt-5">
        <p class="h5">作り方</p>
        <p class="border border-dark rounded pt-1 pb-5"><%= @post_recipe.recipe %></p>
      </div>
    </div>
    <div class="col-2 text-right">
      <%= link_to "削除", admin_post_recipe_path(@post_recipe.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <div class="h5 border-bottom">
        コメント件数：<span id="comment_count"><%= @post_recipe.post_comments.count %></span>
      </div>
    </div>
    <div class="col-9">
      <div id="comments_area">
        <%= render "admin/post_comments/comment", post_recipe: @post_recipe, post_comments: @post_comments %>
      </div>
      <div class="pagination">
        <%= paginate @post_comments %>
      </div>
    </div>
  </div>
</div>