<div class="container">
  <div class="row">
    <div class="mt-5 mb-5">
      <span class="bg-info h2">ログイン</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-2 ml-5">
      <span class="bg-info h4">会員の方はこちらからログイン</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= form_with model: @member, url: member_session_path do |f| %>
      <table class="mt-5 ml-5">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <th></th>
          <td> <%= f.submit "ログイン", class: "btn btn-primary col-10 mt-3" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-5 ml-5 mb-5">
      <span class="bg-info h5">会員登録がお済みでない方</span><br>
      <div class="mt-2 ml-3">
        <%= link_to "こちら", new_member_registration_path %>から新規登録を行なってください。
      </div>
    </div>
  </div>
</div>