<div class="container">
  <div class="row">
    <div class="mt-5 ml-5">
      <span class="bg-light h3">ログイン</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mt-2 ml-5">
      <span class="bg-light h5">会員の方はこちらからログイン</span>
    </div>
  </div>
</div>

<%= form_with model: @member, url: member_session_path do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <!--<% if devise_mapping.rememberable? %>-->
    <!--<div class="field">-->
      <!--<%= f.check_box :remember_me %>-->
      <!--<%= f.label :remember_me %>-->
    <!--</div>-->
  <!--<% end %>-->

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="mt-5 ml-5 mb-5">
      <span class="bg-light h5">会員登録がお済みでない方</span><br>
      <%= link_to "こちら", new_member_registration_path %>から新規登録を行なってください。
    </div>
  </div>
</div>
