<!DOCTYPE html>
<html>
  <head>
    <title>WagayanoWankomeshi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-1"><%= image_tag 'logo4.png', size: '170x80' %></a>
          <ul class="navbar-nav ml-auto">
            <% if member_signed_in? %>
              <li class="nav-item-name h5">
                ようこそ、<%= current_member.name %>さん！
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", my_page_members_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'レシピ投稿', new_post_recipe_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'みんなのレシピ', post_recipes_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '会員一覧', members_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
              <div class="search_form">
                <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <%= f.text_field :word, placeholder: "フリーワード検索" %>
                  <%= f.select :range, options_for_select([['犬種'], ['食材']]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backward_match"],["部分一致","partial_match"]]) %>
                  <%= f.submit "検索", class: "btn btn-success" %>
                <% end %>
              </div>
            <% elsif admin_signed_in? %>
              <li class="nav-item-name h5">
                管理者ログイン中！
              </li>
              <li class="nav-item">
                <%= link_to "レシピ一覧", admin_post_recipes_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '会員一覧', admin_members_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-dark' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="bg-secondary text-black">
      <div class="container">
        <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3 mt-2 mb-2">
            <p>手作り食のレシピを共有する<br>
               コミュニティサイト</p>
            <%= image_tag 'logo4.png', size: '170x80' %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
